In [31]:
import pandas as pd
import os

In [32]:
df= pd.read_csv(r"/Users/kuratome/Downloads/4/GroceryTweets_2021.csv",low_memory=False)

In [6]:
df

,OID_,text,lon,lat,local_time,STUSPS,NAME,year,population,index,nolmalized_index,max,min
0,347,@Kiana_Kawai Then this happened - it was a wei...,-159.532638,21.921875,1/19/20 22:54,HI,Hawaii,2020,1415872,706.278534,0.398930,1727.834902,25.308624
1,358,Cars are scattering like Cockroaches at 3600 R...,-118.411907,34.020789,1/19/20 23:09,CA,California,2020,39512223,25.308624,0.000000,1732.300651,25.308624
2,374,Your boyfriend is broke he shops at Costco - @...,-118.411907,34.020789,1/19/20 21:44,CA,California,2020,39512223,25.308624,0.000000,NaN,NaN
3,377,"I was in Walmart and a stocker, an older one, ...",-95.955956,36.742547,1/19/20 23:26,OK,Oklahoma,2020,3956971,252.718557,0.133223,NaN,NaN
4,378,I want that 11pm Walmart &amp; Whataburger Rom...,-96.608012,33.675734,1/19/20 23:21,TX,Texas,2020,28995881,34.487657,0.005377,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218029,218413,Dave Style Pokémon Go. I caught this one durin...,-96.398422,30.159590,1/20/19 00:32,TX,Texas,2019,28995881,34.487657,0.005377,NaN,NaN
218030,218414,I really hate the Walmart off Hemphill &amp; b...,-97.285914,32.779967,1/20/19 00:30,TX,Texas,2019,28995881,34.487657,0.005377,NaN,NaN
218031,218415,‘Don't crowd the plow’ (snow storm interstate ...,-70.292545,43.696187,1/20/19 00:54,ME,Maine,2019,1344212,743.930273,0.420987,NaN,NaN
218032,218416,@ksujulie @GingerHotDish You can already find ...,-84.408877,39.837603,1/20/19 00:40,OH,Ohio,2019,11689100,85.549786,0.035291,NaN,NaN
218033,218417,@DestyII 😂😂😂 man stop flaggin 😂😂😂 quick Walmar...,-80.528713,35.652669,1/20/19 00:07,NC,North Carolina,2019,10488084,95.346300,0.041030,NaN,NaN

In [33]:
#GroupBy
df1=df.groupby('STUSPS')['local_time'].count()

In [29]:
df1

NAME
Alabama                          1873
Alaska                            327
Arizona                          2777
Arkansas                         1321
California                      16083
Colorado                         1745
Connecticut                      1159
Delaware                          248
District of Columbia             1024
Florida                         13973
Georgia                          5795
Guam                                3
Hawaii                            707
Idaho                             526
Illinois                         4165
Indiana                          3160
Iowa                              660
Kansas                            638
Kentucky                         1705
Louisiana                        2750
Maine                             173
Maryland                         2163
Massachusetts                    1984
Michigan                         4482
Minnesota                        1419
Mississippi                       840
Missouri                         1744
Montana                           190
Nebraska                          500
Nevada                           2226
New Hampshire                     276
New Jersey                       2918
New Mexico                        632
New York                         5438
North Carolina                   3926
North Dakota                      143
Ohio                             5595
Oklahoma                         1259
Oregon                           1339
Pennsylvania                     2859
Puerto Rico                       201
Rhode Island                      477
South Carolina                   1510
South Dakota                      202
Tennessee                        3970
Texas                           13218
United States Virgin Islands        7
Utah                             1300
Vermont                           174
Virginia                         2862
Washington                       3570
West Virginia                     473
Wisconsin                        1153
Wyoming                           118
Name: local_time, dtype: int64

In [34]:
df1.to_csv(r"/Users/kuratome/Downloads/4/GroceryTweets_StateCount_2021.csv",encoding="utf_8_sig",index=True)

In [ ]:
df1=df.loc[df['year'] == 2019]

In [15]:
df2=df.loc[df['year'] == 2020]

In [19]:
df2.to_csv(r"/Users/kuratome/Downloads/3/GroceryTweets_2020.csv",encoding="utf_8_sig",index=False)

In [25]:
some_values=[2021, 2022]

In [26]:
df3=df.loc[df['year'].isin(some_values)]

In [27]:
df3

,OID_,text,lon,lat,local_time,STUSPS,NAME,year
218417,218418,The BLOCC LIFE Shop is bacc up and running... ...,-118.018856,33.975918,2021-01-20T15:59:25,CA,California,2021
218418,218419,"I'm at Costco in North Riverside, IL https://t...",-87.829288,41.846539,2021-01-20T17:59:18,IL,Illinois,2021
218419,218420,"@sherry_amour Yep, Whole Foods as well.",-86.791549,36.200008,2021-01-20T17:57:42,TN,Tennessee,2021
218420,218421,Seeing your friend who is not a Soror at Kroge...,-89.922029,35.133521,2021-01-20T17:56:19,TN,Tennessee,2021
218421,218422,Not gonna hate on Kodak for doing what he had ...,-80.300878,26.047139,2021-01-20T18:52:00,FL,Florida,2021
...,...,...,...,...,...,...,...,...
571004,571005,Apparently the people complaining about the Bi...,-96.347781,30.665859,2021-01-20T18:10:31,TX,Texas,2021
571005,571006,"Costco - Folsom, California - Five of my famil...",-121.172848,38.667887,2021-01-20T16:10:11,CA,California,2021
571006,571007,Important data supports our gun safety goals. ...,-83.139281,40.125273,2021-01-20T19:09:36,OH,Ohio,2021
571007,571008,No cuz I literally thought she tricked out her...,-81.571184,28.605604,2021-01-20T19:06:08,FL,Florida,2021
571008,571009,@StephyR26 @CampbellSoupCo @SoupCambells @krog...,-86.142922,39.779562,2021-01-20T19:00:18,IN,Indiana,2021

In [22]:
df3=df.loc[df['year'] == 2021 or 2022]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
df3.to_csv(r"/Users/kuratome/Downloads/3/GroceryTweets_2021.csv",encoding="utf_8_sig",index=False)

In [18]:
df3

,OID_,text,lon,lat,local_time,STUSPS,NAME,year
218417,218418,The BLOCC LIFE Shop is bacc up and running... ...,-118.018856,33.975918,2021-01-20T15:59:25,CA,California,2021
218418,218419,"I'm at Costco in North Riverside, IL https://t...",-87.829288,41.846539,2021-01-20T17:59:18,IL,Illinois,2021
218419,218420,"@sherry_amour Yep, Whole Foods as well.",-86.791549,36.200008,2021-01-20T17:57:42,TN,Tennessee,2021
218420,218421,Seeing your friend who is not a Soror at Kroge...,-89.922029,35.133521,2021-01-20T17:56:19,TN,Tennessee,2021
218421,218422,Not gonna hate on Kodak for doing what he had ...,-80.300878,26.047139,2021-01-20T18:52:00,FL,Florida,2021
...,...,...,...,...,...,...,...,...
571004,571005,Apparently the people complaining about the Bi...,-96.347781,30.665859,2021-01-20T18:10:31,TX,Texas,2021
571005,571006,"Costco - Folsom, California - Five of my famil...",-121.172848,38.667887,2021-01-20T16:10:11,CA,California,2021
571006,571007,Important data supports our gun safety goals. ...,-83.139281,40.125273,2021-01-20T19:09:36,OH,Ohio,2021
571007,571008,No cuz I literally thought she tricked out her...,-81.571184,28.605604,2021-01-20T19:06:08,FL,Florida,2021
571008,571009,@StephyR26 @CampbellSoupCo @SoupCambells @krog...,-86.142922,39.779562,2021-01-20T19:00:18,IN,Indiana,2021

In [7]:
df1

0         False
1         False
2         False
3         False
4         False
          ...
571004    False
571005    False
571006    False
571007    False
571008    False
Name: year, Length: 571009, dtype: bool

In [7]:
df.to_csv(r"/Users/kuratome/Downloads/GroceryTweets_2019_2021_year.csv",encoding="utf_8_sig",index=False)

In [3]:
df

,OID_,text,lon,lat,local_time,STUSPS,NAME,year
0,1,@andylassner Walmart specials,-75.386461,39.145023,2020-01-20T18:59:29,DE,Delaware,2020
1,2,Walmart just gave me the biggest fucking attit...,-81.986834,26.636480,2020-01-20T18:56:59,FL,Florida,2020
2,3,The Chicken Tenders sub from Publix is the bes...,-81.367773,28.501678,2020-01-20T18:56:14,FL,Florida,2020
3,4,Finna go to Costco y’all want sum ? https://t....,-122.410744,37.770520,2020-01-20T15:52:33,CA,California,2020
4,5,they really only got 3 lanes open at Walmart h...,-89.390275,31.316364,2020-01-20T17:50:28,MS,Mississippi,2020
...,...,...,...,...,...,...,...,...
571004,571005,Apparently the people complaining about the Bi...,-96.347781,30.665859,2021-01-20T18:10:31,TX,Texas,2021
571005,571006,"Costco - Folsom, California - Five of my famil...",-121.172848,38.667887,2021-01-20T16:10:11,CA,California,2021
571006,571007,Important data supports our gun safety goals. ...,-83.139281,40.125273,2021-01-20T19:09:36,OH,Ohio,2021
571007,571008,No cuz I literally thought she tricked out her...,-81.571184,28.605604,2021-01-20T19:06:08,FL,Florida,2021
571008,571009,@StephyR26 @CampbellSoupCo @SoupCambells @krog...,-86.142922,39.779562,2021-01-20T19:00:18,IN,Indiana,2021

In [ ]:
# read all csv in one folder
#add a colomn to add month info
for info in os.listdir(r'E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\4.2 LocaTime 1 csv'):
    domain = os.path.abspath(r'E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\2020') #获取文件夹的路径
    info_full = os.path.join(domain,info) #将路径与文件名结合起来就是每个文件的完整路径  
    df = pd.read_csv(info_full,encoding='utf-8-sig',low_memory=False)
    #删空列
    #df = df.dropna(axis=1)

    df.dropna(axis=1,how='all') 
    df['Month'] =info[-11:-4]
    #save
    #print(df)
    df.to_csv(info,encoding='utf-8-sig')
    print(info)

In [2]:
#Description:使用Pandas拼接多个CSV文件到一个文件（即合并）
Folder_Path = r'E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\4.2 LocaTime 1 csv'          #要拼接的文件夹及其完整路径，注意不要包含中文
SaveFile_Path =  r'E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\4.2 LocaTime 1 csv'       #拼接后要保存的文件路径
SaveFile_Name = r'fastFood_2019_2021_localTime_stateLevel.csv'              #合并后要保存的文件名
 
#修改当前工作目录
os.chdir(Folder_Path)
#将该文件夹下的所有文件名存入一个列表
file_list = os.listdir()
 
#读取第一个CSV文件并包含表头
df = pd.read_csv(Folder_Path +'\\'+ file_list[0],encoding='utf-8-sig',low_memory=False)   #编码默认UTF-8，若乱码自行更改
 
#将读取的第一个CSV文件写入合并后的文件保存
df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False)
 
#循环遍历列表中各个CSV文件名，并追加到合并后的文件
for i in range(1,len(file_list)):
    df = pd.read_csv(Folder_Path + '\\'+ file_list[i],low_memory=False)
    df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False, header=True, mode='a+')

In [ ]:
#delete geo column==NA row
#df1 = pd.read_csv('geo_US_-retweet_2019-03-01_2019-03-31.csv',encoding='utf-8-sig')
df= pd.read_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_3_groccery\1\original_grocery_2021_1.csv",low_memory=False,skip_blank_lines=True)

#df[df['geo.place_id'].notna()]
new=df[df['geo.place_id'].notna()]
new.to_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_3_groccery\1.3 groccery_CSV_3years_clean\original_grocery_2021.csv",encoding='utf-8-sig')

In [ ]:
new

In [ ]:
df=pd.read_csv(r'E:\OneDrive - University of Georgia\Project\Data\tweet_data_3_groccery\4.2 LocalTime 3CSV\grocery_2019_2021_localTime_stateLevel.csv',encoding='utf-8-#sig',low_memory=False)

In [ ]:
pd.set_option('display.max_columns', None)
df

In [ ]:
print(df.dtypes)

In [ ]:
df.head(219275)

# 处理单个文件

In [36]:
import csv
import pandas as pd
df= pd.read_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\4.2 LocaTime 1 csv - Copy\fastFood_2019_2021_localTime_stateLevel.csv",low_memory=False,skip_blank_lines=True)

In [23]:
df= pd.read_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_3_groccery\4.2 LocalTime 1CSV - Copy\grocery_2019_2021_localTime_stateLevel.csv",low_memory=False,skip_blank_lines=True)

In [3]:
pd.set_option("display.max_columns", None)

In [42]:
df1=df

In [44]:
df1

,text,lon,lat,local_time
0,@DoctorHenryCT Friends don't let friends get c...,-122.295649,37.838550,2022-01-20T23:24:24
1,Finally hit Seattle’s Starbucks Reserve. It wa...,-122.328289,47.614044,2022-01-20T23:18:01
2,Thanks for the memories @starbucks. It’s been ...,-122.330602,47.614817,2022-01-20T22:33:15
3,I am so close to the mcdonald's here I can su...,-119.025163,35.346901,2022-01-20T22:32:22
4,"Domino's bought $100,000 of local restaurants'...",-122.630908,45.536402,2022-01-20T22:31:31
...,...,...,...,...
1317795,@aobrien7 @tacobell Always yes,-73.968542,40.780709,2020-01-20T19:05:10
1317796,I’m about to smoke eat Taco Bell and play Mine...,-123.095999,44.631133,2020-01-20T16:04:42
1317797,Like our business? Review us on Google+ and ge...,-87.776914,42.103623,2020-01-20T18:02:57
1317798,Burritos for the arts - what could be better! ...,-88.014413,41.808188,2020-01-20T18:02:47
1317799,😋😋😋😋\n\nEggs: scrambies w/ spinach\nSteak: ehh...,-111.880240,40.688518,2020-01-20T17:00:21

In [39]:
#删除列，不设axis删除行
df1=df1.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1","created_at","lang","possibly_sensitive","withheld.scope","withheld.copyright","withheld.country_codes","attachments.poll.duration_minutes","attachments.poll.end_datetime","attachments.poll.id","attachments.poll.options","attachments.poll.voting_status","attachments.poll_ids","author.pinned_tweet_id","author.profile_image_url","author.protected","author.withheld.scope","author.withheld.copyright","author.withheld.country_codes","geo.country","geo.country_code","geo.coordinates.coordinates","author.verified","geo.geo.type","__twarc.retrieved_at","__twarc.url","__twarc.version","Unnamed: 73","lon_min","geo.geo.bbox","lat_min","lon_max","lon_max","lon_dif","lat_dif"],axis=1)

In [43]:
df1=df[["text","lon","lat","local_time"]]

In [45]:
df1.to_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\4.2 LocaTime 1 csv\fastFood_2019_2021_localTime_stateLevel_4_columns.csv",encoding="utf_8_sig",index=False)

In [35]:
df1.to_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_3_groccery\4.2 LocalTime 1CSV - Copy\grocery_2019_2021_localTime_stateLevel_4_columns.csv",encoding="utf_8_sig",index=False)

In [ ]:
#删除列,全无的
df1=df["text"]
df1.dropna(axis=1,how='all')

In [ ]:
print(list(df))

In [ ]:
df=df[df['geo.place_id'].notna()]

In [ ]:
import csv
pd.read_csv(r"E:\OneDrive - University of Georgia\Project\Data\tweet_data_2_food\1.2 3yearsCSVData_3csv\original_fastFoodResturant_2021.csv",usecols=['index','geo.geo.bbox']) \
  .to_csv("new_file.csv", quoting=csv.QUOTE_NONE,sep='|', index=False)

## join 2 tables

In [ ]:
df1 = pd.read_csv('Obesity.csv')

In [ ]:
df2 = pd.read_csv(r'E:\Project\Data\tweet_data\4.2 Sentiment8States54 2Period\sentimentscores_states_2019.csv')

In [ ]:
merge_df = pd.merge(df1, df2, on='state',how='inner')

In [ ]:
merge_df.to_csv("clean_local_time_2019-03_2020-02_bbox_county_level.csv",encoding="utf_8_sig",index=False)